
snippet com "Coment CSS" b
/*
* ─── $1 ────────────────────────────────────────────────────────────────
*/

$3

/* ── $2 ────────────────────────────────────────────────────────────────────────────── */
endsnippet
